<div>
    <% if (user && user.userType === 2) {%>
        <h3><%= user.username %></h3>
        <img src=" <%= user.profile_pic %> " alt="">
        <button><a href="/logout">Logout</a></button>
    <% } else {%>
        <a href="/auth">login</a>
    <% }%>
    
</div>