<div>
    <form action="/changePassword" method="post">
        <input required type="text" value="<%= username%>" name="username">
        <input required placeholder="Enter new password" type="text" name="newPassword">
        <input type="submit" value="Submit">
    </form>
</div>