<div>
    <form action="/sendPasswordMail" method="post">
        <input required placeholder="Enter username" type="text" name="username">
        <input type="submit" value="Submit">
    </form>
</div>