<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="loginPageContainer">
        <form action="/login" method="post">
            <input required placeholder="Enter email" type="email" name="username">
            <input required placeholder="Enter password" type="password" name="password">
            <input class="loginBtn" type="submit" value="Login">
        </form>
        <div>
            <a href="/forgotPassword">Forgot password?</a>
            <a href="/admin/auth/login">Admin Login</a>
        </div>
        
        <% if (error) {%>
            <h2> <%= error%> </h2>
        <% }%>
    </div>
</body>
</html>


