<div>
    <form action="/login" method="post">
        <input required placeholder="Enter username" type="text" name="username">
        <input required placeholder="Enter password" type="text" name="password">
        <input type="submit" value="Login">
    </form>
    <a href="/forgotPassword">Forgot password?</a>
    <% if (error) {%>
        <h2> <%= error%> </h2>
    <% }%>
</div>