<div>
    <form action="/signup" method="post" enctype="multipart/form-data">
        <input required placeholder="Enter email" type="email" name="username">
        <input required placeholder="Enter password" type="password" name="password">
        <input name="profile_pic" type="file">
        <input type="submit" value="Signup">
    </form>
    
    <% if(error) { %>
        <h1><%= error %></h1>
    <% } %>

</div>