@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.product {
    width: 400px;
    background-color: #D3EBCD;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}