@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    /* margin: 0; */
    padding: 0;
}

body {
    margin: 0;
}

/* -------------INDEX PAGE------------- */

.user-profile-pic {
    width: 50px;
    height: auto;
    border-radius: 25px;
}

#viewCartBtn {
    width: 80px;
}

.container {
    margin: 0;
    /* background-color: #888888; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.header {   
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.product {
    width: 300px;
    background-color: #b796f6;
    align-items: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 5px 5px #888888;
}

#loadMoreBtn {
    width: 100px;
}

.header {
    display: flex;
}

/* -------------------------------------------------- */

/* ------------------AUTH PAGE----------------------- */

.authContainer {
    /* centering the div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* style */
    width: 250px;
    height: 150px;
    background-color: #81CACF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
}


.loginBtnAuthPage a, .signupBtnAuthPage a {
    color: black;
    text-decoration: none;
}

.loginBtnAuthPage, .loginPageContainer form .loginBtn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #E2DCC8;
    text-decoration: none;
}

.loginBtnAuthPage:hover, .loginPageContainer form .loginBtn:hover {
    background-color: #958f7d;
    cursor: pointer;
}

.signupBtnAuthPage {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
}

.signupBtnAuthPage:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* ------------------------------------------- */

/* ---------------LOGIN PAGE------------------ */

.loginPageContainer {
    /* centering the div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* style */
    background-color: #81CACF;
    height: 190px;
    width: 350px;
    padding: 15px;
    border-radius: 30px;
    justify-content: space-around;

    display: flex;
    flex-direction: column;
}

.loginPageContainer form {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginPageContainer form input {
    border: none;
    height: 32px;
    border-radius: 5px;
    padding: 2px;
}

.loginPageContainer form input:focus {
    outline: none;
}







/* ----------------RESPONSIVE DESIGN------------- */
@media only screen and (max-width: 500px) {

    .header {
        width: 260px;
        flex-direction: column;
    }

    .product {
        width: 260px;
    }

    .loginPageContainer {
        width: 260px;
    }
}

@media only screen and (max-width: 300px) {
    .header {
        width: 200px;
    }

    .product {
        width: 200px;
        border-radius: 40px;
    }

    .loginPageContainer {
        width: 200px;
    }
}