<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div>
      <h3>
        Admin details are hardcoded in the db, for now use credentials username:
        admin1, password:admin1
      </h3>
      <div class="adminLoginContainer">
        <form action="/admin/auth/login" method="post">
          <input
            required
            placeholder="Enter username"
            type="text"
            name="username"
          />
          <input
            required
            placeholder="Enter password"
            type="password"
            name="password"
          />
          <input class="adminLoginBtn" type="submit" value="Login" />
        </form>
      </div>
      <!-- <a href="/forgotPassword">Forgot password?</a> -->
      <% if (error) {%>
      <h2><%= error%></h2>
      <% }%>
    </div>
  </body>
</html>
